table{
  border-collapse: collapse;
  padding: 20px;
  margin: 10px;
}

table > tr,th{
  padding: 5px 5px;
  min-height: 300px;
}

#amount, .btn{
  text-align: center;
}

#common{ color: green }
#gold { color: gold }
#diamond { color: silver }

#memberList > tr:nth-of-type(2n){ background-color: #ddd;}

#addBtn{
  height: 50px;
}